body {
    background-color: #ededed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

/* .container-forgotpassword {
    display: flex;
    flex-direction: column;
} */

h1 {
    font-size: 40px;
}

.p1 {
    font-size: 24px;
}

input {
    width: 675px;
    height: 60px;
    border: 2px solid #EEEEEE;
    border-radius: 16px;
    font-size: 28px;
    padding: 0px 24px;
    margin-bottom: 4%;

}

button {
    background-color: #4A90E2;
    color: #FFFFFF;
    font-size: 28px;
    width: 723px;
    height: 60px;
    border: none;
    border-radius: 16px;
    margin: 0% 0% 4% 0%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #357ABD;
}

.p2 {
    font-size: 24px;
    opacity: 50%;
}

.container-forgotpassword {
    display: none;

}

.container-forgotpassword.active {
    display: block;
    display: flex;
    flex-direction: column;
}

.error-message {
    position: absolute;
    color: red;
    text-align: start;
    margin-top: 14.2%;
    margin-bottom: 4%;
    margin-left: 1%;
}

.error-message2 {
    position: absolute;
    color: red;
    text-align: start;
    margin-top: 19%;
    margin-bottom: 4%;
    margin-left: 1%;
}

.success-message {
    position: absolute;
    color: green;
    text-align: start;
    margin-top: 19%;
    margin-bottom: 4%;
    margin-left: 1%;
}